<%- include("partials/header") %>

<div class = "container">
	<div class = "row mt-4">
		<div class = "col-6 show_image-container">
			<img src = "<%= movie.image_link %>">
		</div>
		<div class = "col-6 details-container">
			<h1> <%= movie.title %></h1>
			<p><%= movie.description%></p>
			<table class="table">
			  <tbody>
				<tr>
				  <th scope="row">Producer</th>
				  <td><%= movie.producer%></td>
				</tr>
				<tr>
				  <th scope="row">Producion Company</th>
				  <td><%= movie.productionCompany%></td>
				</tr>
				<tr>
				  <th scope="row">Actors</th>
				  <td><%= movie.actors%></td>
				</tr>
				<tr>
				  <th scope="row">Release Date</th>
				  <td><%= movie.date %></td>
				</tr>
				<tr>
				  <th scope="row">Genre</th>
				  <td><%= movie.genre %></td>
				</tr>
				<tr>
				  <th scope="row">Color</th>
				  <td><%= movie.color %></td>
				</tr>
			  </tbody>
			</table>
			<% if(user && user.username === movie.owner.username) {%>
				<a href ="/movies/<%= movie._id %>/edit">
					<button class = "btn btn-outline-info btn-lg btn-block mb-2">Edit</button>
				</a>
				<form action ="/movies/<%= movie._id %>?_method=DELETE" method ="POST">
					<button type ="submit" class ="btn btn-outline-danger btn-lg btn-block">Delete</button>
				</form>
				<!-- Button for adding movie to want to watch list -->
				<button id ="wantToWatch_btn"class = "btn btn-outline-secondary btn-lg btn-block">Add to Want to Watch</button>
			
			<% } %>
		</div>
	</div>
	
	<div class = "row">
		<a href ="/movies/<%= movie._id%>/comments/new" class ="col-3">
			<button class = "btn btn-success btn-lg mt-3 mb-4">Add Comment</button>
		</a>
		<div class ="col-2">
			<% if (user && movie.upvotes.indexOf(user.username)>=0) { %>
				<button id ="upvote_btn"class = "btn btn-success btn-lg mt-3">+</button>
			<% } else if (user) {  %>
				<button id ="upvote_btn"class = "btn btn-outline-success btn-lg mt-3">+</button>
			<% } %>
			<span id="score" class="mx-2"><%= movie.upvotes.length - movie.downvotes.length%></span>
			<% if (user && movie.downvotes.indexOf(user.username)>=0) { %>
				<button id ="downvote_btn"class = "btn btn-danger btn-lg mt-3">+</button>
			<% } else if (user) {  %>
				<button id ="downvote_btn"class = "btn btn-outline-danger btn-lg mt-3">-</button>
			<% } %>
			
		</div>
	</div>
	
	
	
	<% comments.forEach((comment => { %>
		<div class= "row show_comment-container py-2 border">
			<div class = "col-2 border-right my-auto">
				<%= comment.user.username %>
			</div>
			<div class= "col-2 border-right my-auto d-flex flex-wrap justify-content-center">
				<% if(user && user.username === comment.user.username) { %>
					<a class ="btn btn-sm btn-success w-75 p-0 my-1 " href ="/movies/<%= movie._id%>/comments/<%= comment._id%>/edit"> 
						Edit
					</a>
					<form class ="w-75 my-1" action ="/movies/<%= movie._id%>/comments/<%= comment._id%>?_method=DELETE"method ="POST">
						<button class ="btn btn-sm btn-danger w-100 p-0">Delete</button>
					</form>
				<% } %>
			</div>
			<div class = "col-8 my-auto">
				<%= comment.text %>
			</div>
		</div>
		
	<%}))%>
	<div class = "py-3"></div>
</div>
<script>
	var movieId = "<%- movie._id %>"	
</script>
<script src="/js/movies_show.js"></script>
<script src="/js/movies_want.js"></script>




<%- include("partials/footer") %>